.background-grey {
  background-color: #f7f7f7;
}
.background-grey-tab {
  background-color: #eeeeee;
}
.background-grey-light {
  background-color: #fcfcfc;
}
.background-grey-imp {
  background-color: #f7f7f7 !important;
}
.background-grey-bcg {
  background-color: #eeeeee;
}
.background-green {
  background-color: #1fbbbb;
}
.background-green-light {
  background-color: #f3fbfb;
}
.background-orange {
  background-color: #fbb216;
}
.background-blue {
  background-color: #09165d;
}
.background-blue-light {
  background-color: rgba(31, 187, 187, 0.05) !important;
}
.background-white {
  background-color: #ffffff;
}
.background-white-imp {
  background-color: #ffffff !important;
}
.background-transparent {
  background-color: transparent;
}
.background-red {
  background-color: #bd202e;
}
