.font--xxl-8 {
  font-size: 0.5rem;
  line-height: normal;
}
.font--xxl-9 {
  font-size: 0.563rem;
  line-height: normal;
}
.font--xxl-10 {
  font-size: 0.625rem;
  line-height: 0.875rem;
}
.font--xxl-11 {
  font-size: 0.6875rem;
  line-height: normal;
}
.font--xxl-12 {
  font-size: 0.75rem;
  line-height: normal;
}
.font--xxl-13 {
  font-size: 0.813rem;
  line-height: normal;
}
.font--xxl-14 {
  font-size: 0.875rem;
  line-height: normal;
}
.font--xxl-15 {
  font-size: 0.938rem;
  line-height: normal;
}
.font--xxl-16 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.font--xxl-18 {
  font-size: 1.125rem;
  line-height: normal;
}
.font--xxl-20 {
  font-size: 1.25rem;
  line-height: 1.7rem;
}
.font--xxl-24 {
  font-size: 1.5rem;
  line-height: 1.58;
}
.font--xxl-29 {
  font-size: 1.813rem;
  line-height: normal;
}
.font--xxl-31 {
  font-size: 1.938rem;
  line-height: normal;
}
.font--xxl-32 {
  font-size: 2rem;
  line-height: normal;
}
.font--xxl-33 {
  font-size: 2.063rem;
  line-height: normal;
}
.font--xxl-36 {
  font-size: 2.25rem;
  line-height: normal;
}
.font--xxl-42 {
  font-size: 2.875rem;
  line-height: 3.7375rem;
}
.font--xxl-62 {
  font-size: 3.875rem;
  line-height: 4.3rem;
  letter-spacing: 0.0625rem;
}
.font-italic {
  font-style: italic;
}
.font-normal {
  font-weight: normal;
}
.font-thin {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-regular-imp {
  font-weight: 400 !important;
}
.font-semibold {
  font-weight: 400;
}
.font-bold {
  font-weight: 600;
}
.font-bold-imp {
  font-weight: 600 !important;
}
.font-black {
  color: #000;
}
.font-black-imp {
  color: #000 !important;
}
.font-black--light {
  color: #4a4a4a;
}
.font-black-dark {
  color: #3e3f42;
}
.font-grey {
  color: #9b9b9b;
}
.font-grey--mid {
  color: #6d6e71;
}
.font-grey--tab {
  color: #4a4a4a;
}
.font-grey--light {
  color: #e4e4e4;
}
.font-grey--light-imp {
  color: #e4e4e4 !important;
}
.font-blue {
  color: #09165d;
}
.font-blue-imp {
  color: #09165d !important;
}
.font-orange {
  color: #fbb216;
}
.font-red {
  color: #bd202e;
}
.font-red-imp {
  color: #bd202e !important;
}
.font-white {
  color: #ffffff;
}
.font-white-imp {
  color: #ffffff !important;
}
.font-green {
  color: #1fbbbb;
}
.font-transparent {
  color: transparent;
}
.prewrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.wrap--1-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap-1-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word-break--all {
  word-break: break-all;
}
.word-break--word {
  word-wrap: break-word;
}
.font--menu {
  opacity: 0.4;
}
.font--menu-active {
  opacity: 1;
}
.font--menu-pasive {
  opacity: 0.26;
}
.font--menu:hover {
  opacity: 1;
}
.letter-spacing-1 {
  letter-spacing: 0.063rem;
}
.letter-spacing-1_1 {
  letter-spacing: 0.069rem;
}
.letter-spacing-2 {
  letter-spacing: 0.125rem;
}
.line-height-2_2 {
  line-height: 2.2;
}
.line-height-2 {
  line-height: 2;
}
.line-height-1_7 {
  line-height: 1.7;
}
.line-height-1_55 {
  line-height: 1.55;
}
.line-height-1_29 {
  line-height: 1.29;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-hover {
  cursor: pointer;
}
.text-hover:hover {
  opacity: 0.6;
}
.icon-rotate-180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.line-big {
  height: 0.7rem;
  width: 12.063rem;
}
.line-mid {
  height: 0.375rem;
  width: 8.125rem;
}
.line-small {
  height: 0.375rem;
  width: 4.688rem;
}
.line-tiny {
  width: 6rem;
  height: 0.3125rem;
}
.line-marker {
  height: 0.0625rem;
  width: 2.25rem;
}
.line-marker:hover {
  cursor: pointer;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
  opacity: 0.5;
}
.uppercase {
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .font--xl-62 {
    font-size: 3.875rem;
    line-height: 3.875rem;
    letter-spacing: 0.04rem;
  }
  .font--xl-46 {
    font-size: 2.875rem;
    line-height: 3.438rem;
  }
  .font--xl-42 {
    font-size: 2.625rem;
    line-height: 2.625rem;
  }
  .font--xl-16 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .font--xl-16 * {
    font-size: inherit;
    line-height: inherit;
  }
  .text--xl-center {
    text-align: center;
  }
  .text--xl-left {
    text-align: left;
  }
  .text--xl-right {
    text-align: right;
  }
}
@media screen and (max-width: 1024px) {
  .font-24 {
    font-size: 1.25rem;
  }
  .font-14 {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  .font-14 * {
    font-size: inherit;
    line-height: inherit;
  }
}
@media screen and (max-width: 1366px) {
  .font--xl-62 {
    font-size: 3.875rem;
    line-height: 3.875rem;
    letter-spacing: 0.04rem;
  }
  .font--xl-46 {
    font-size: 2.875rem;
    line-height: 3.438rem;
  }
  .font--xl-42 {
    font-size: 2.625rem;
    line-height: 2.625rem;
  }
  .font--xl-16 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .font--xl-16 * {
    font-size: inherit;
    line-height: inherit;
  }
  .font--xl-14 {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  .font--xl-14 * {
    font-size: inherit;
    line-height: inherit;
  }
}
@media screen and (max-width: 1024px) {
  .text--l-center {
    text-align: center;
  }
  .text--l-left {
    text-align: left;
  }
  .text--l-right {
    text-align: right;
  }
  .line--l-center {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 960px) {
  .text--m-center {
    text-align: center;
  }
  .text--m-left {
    text-align: left;
  }
  .text--m-right {
    text-align: right;
  }
  .font--m-29 {
    font-size: 1.813rem;
    line-height: normal;
  }
}
@media only screen and (max-width: 640px) {
  .text--s-center {
    text-align: center;
  }
  .text--s-left {
    text-align: left;
  }
  .text--s-right {
    text-align: right;
  }
  .font--s-14 {
    font-size: 0.875rem;
    line-height: normal;
  }
  .font--s-24 {
    font-size: 1.5rem;
    line-height: normal;
  }
  .line-marker {
    height: 0.13rem;
    width: 1.8rem;
  }
}
@media screen and (max-width: 540px) {
  .text--540-center {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .font--xs-16 {
    font-size: 1rem;
    line-height: normal;
  }
  .font--xs-36 {
    font-size: 2.25rem;
    line-height: 2.7rem;
  }
  .line-tiny {
    width: 2.1875rem;
    height: 0.3125rem;
  }
}
@media screen and (max-width: 360px) {
  .font--xxs-36 {
    font-size: 2.25rem;
    line-height: normal;
  }
}
