.input-form {
  background-color: #ffffff;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 1.25rem;
}
.input-form:active {
  background-color: #ffffff;
}
.input-file {
  width: 6.687rem;
  height: 6.687rem;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
}
.input-file input {
  display: none;
}
.input-large {
  width: 29.563rem !important;
  height: 2.625rem;
}
.input-custom {
  width: 14.375rem !important;
  height: 1.875rem !important;
  padding-left: 0.625rem !important;
}
.input-midd {
  width: 12.25rem !important;
  height: 2.25rem;
  border: none !important;
}
.input-midd:active,
.input-midd:focus {
  width: 12.18rem !important;
  height: 2.15rem !important;
  border: 1px solid #fbb216 !important;
}
.input-prop {
  width: 7.688rem !important;
}
.input-small {
  width: 9.375rem !important;
  height: 2.25rem;
}
.input-min {
  width: 4.938rem !important;
  height: 2.25rem;
}
.input-title {
  height: 0.5625rem;
}
.input-vault {
  height: 0.75rem !important;
  width: 6.25rem !important;
}
.input-per {
  background-image: url("/assets/images/icons/percent.svg");
  background-repeat: no-repeat;
  background-position: 6.5em 0.566em;
  background-size: 0.8em;
  font-size: 1.1rem;
}
.select {
  position: relative;
  background-color: #ffffff;
  padding: 0 1.563rem 0 0.625rem;
  font-size: 0.875rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: url("/assets/images/icons/open-icon.svg");
  background-repeat: no-repeat;
  background-size: 0.625rem;
  background-position: 91%;
  height: 1.875rem;
  cursor: pointer;
  color: #fbb216;
  text-align: center;
  text-align-last: center;
  transition: all 0.2s ease-in-out;
}
.select.expanded {
  transform: rotate(180deg);
}
.select::placeholder {
  color: #09165d;
}
.select-midd {
  width: 8.438rem;
  height: 2.25rem;
  border: 0.063rem solid #e0e0e0;
  border-radius: 0.25rem;
}
.select-midd--academic {
  width: 11.438rem;
}
.select-small {
  width: 4.563rem;
  height: 2.25rem;
  border: none;
  border-left: 0.063rem solid #e0e0e0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.select-coverage {
  padding: 0 0.625rem 0 0.625rem;
}
.select option {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align-last: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 4.25rem;
  height: 2.25rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.25rem;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.375rem;
  bottom: 0.313rem;
  background-image: url(/assets/images/icons/pasive.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider:before {
  -webkit-transform: translateX(1.875rem);
  -ms-transform: translateX(1.875rem);
  transform: translateX(1.875rem);
  background-image: url(/assets/images/icons/active.svg);
}
.textarea {
  border-radius: 0.25rem;
  padding: 0.625rem;
  color: #fbb216;
  font-size: 0.875rem;
  resize: none;
  border: 0.063rem solid #e0e0e0;
  transition: all 0.1s ease-in-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.textarea-height {
  height: 9.5rem;
}
.textarea:focus {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}
.textarea::placeholder {
  color: #09165d;
}
.textarea--large {
  width: 15.625rem;
}
.search-brands {
  border: none;
  background-color: #f4f4f4;
}
.search-brands::placeholder {
  color: #09165d;
}
.search-brands:focus {
  background-color: #f4f4f4;
  outline: none;
}
.range-input {
  width: 270px;
  -webkit-appearance: none;
  background: #e4e4e4;
  border-radius: 4px;
  height: 6px;
}
.range-input:focus {
  outline: none !important;
  border: 0 !important;
}
.range-input::-webkit-slider-runnable-track {
  width: 270px;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-radius: 4px;
}
.range-input::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
  transition: 0.3s;
  box-shadow: 2px 2px 20px 0px rgba(147, 147, 147, 0.4);
}
.range-input::-moz-range-track {
  width: 270px;
  height: 6px;
  cursor: pointer;
  background: #e4e4e4;
  border-radius: 4px;
}
.range-input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.rangeVal {
  width: 270px;
}
.rangeVal-per {
  margin-left: 6%;
}
.rangeVal-100-0 {
  margin-left: -2%;
}
.rangeVal-100-100 {
  margin-right: -6%;
}
.rangeVal-3-0 {
  margin-left: -7%;
}
.rangeVal-3-100 {
  margin-right: -5%;
}
.active-pasive {
  height: 0.75rem;
  width: 0.75rem;
}
.engage-box {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.188rem;
}
