.w-100 {
  width: 100%;
}
.w-100--min {
  min-width: 100%;
}
.w-85 {
  width: 85%;
}
.w-75 {
  width: 75%;
}
.w-65 {
  width: 65%;
}
.w-63 {
  width: 63.5%;
}
.w-60 {
  width: 60%;
}
.w-55 {
  width: 55%;
}
.w-50 {
  width: 50%;
}
.w-45 {
  width: 45%;
}
.w-40 {
  width: 40%;
}
.w-36 {
  width: 36.5%;
}
.w-35 {
  width: 35%;
}
.w-33 {
  width: 33.33%;
}
.w-32 {
  width: 32%;
}
.w-30 {
  width: 30%;
}
.w-25 {
  width: 25%;
}
.w-25--min {
  min-width: 25%;
}
.w-20 {
  width: 20%;
}
.w-90rem {
  max-width: 90rem;
}
.w-110-px {
  width: 6.875rem;
}
.w-133-px {
  width: 8.313rem;
}
.w-0 {
  width: 0px;
}
.h-100-vh {
  height: 100vh;
}
.h-100-header {
  height: calc(100vh - 3.688rem - 1px);
}
.h-100 {
  height: 100%;
}
.h-50 {
  height: 50%;
}
.h-20-rem {
  height: 18rem;
}
.border-box {
  box-sizing: border-box;
}
.google {
  width: 16.875rem;
  height: 2.25rem;
}
.logo-big {
  height: 5.25rem;
}
.file-attached {
  height: 3rem;
}
.file-attached--text {
  width: 8rem;
}
@media only screen and (max-width: 1440px) {
  .w--xl-100 {
    width: 100%;
  }
  .w--xl-100--min {
    min-width: 100%;
  }
  .w--xl-75 {
    width: 75%;
  }
  .w--xl-50 {
    width: 50%;
  }
  .w--xl-33 {
    width: 33.33%;
  }
  .w--xl-25 {
    width: 25%;
  }
  .w--xl-auto {
    width: auto;
  }
}
@media only screen and (max-width: 1365px) {
  .h-100 {
    height: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .w--l-100 {
    width: 100%;
  }
  .w--l-75 {
    width: 75%;
  }
  .w--l-50 {
    width: 50%;
  }
  .w--l-33 {
    width: 33.33%;
  }
  .w--l-25 {
    width: 25%;
  }
  .w--l-auto {
    width: auto;
  }
}
@media only screen and (max-width: 960px) {
  .w--m-100 {
    width: 100%;
  }
  .w--m-75 {
    width: 75%;
  }
  .w--m-50 {
    width: 50%;
  }
  .w--m-33 {
    width: 33.33%;
  }
  .w--m-25 {
    width: 25%;
  }
  .w--m-auto {
    width: auto;
  }
  .h--m-auto {
    height: auto;
  }
}
@media only screen and (max-width: 640px) {
  .w--s-100 {
    width: 100%;
  }
  .w--s-75 {
    width: 75%;
  }
  .w--s-50 {
    width: 50%;
  }
  .w--s-33 {
    width: 33.33%;
  }
  .w--s-25 {
    width: 25%;
  }
  .w--s-auto {
    width: auto;
  }
  .h--s-auto {
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  .w--xs-100 {
    width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .w--xxs-100 {
    width: 100%;
  }
}
