.vertical-grey {
  width: 1px;
  height: 20px;
  background-color: #d2d8e3;
}
.line-grey {
  height: 1px;
  width: 15.625rem;
  background-color: #d2d8e3;
}
.margin-xxl-30 {
  margin: 1.875rem;
}
.margin-xxl-8 {
  margin: 0.5rem;
}
.margin-xxl-auto {
  margin: auto;
}
.margin-xxl--top-auto {
  margin-top: auto;
}
.margin-xxl--top-160 {
  margin-top: 10rem;
}
.margin-xxl--top-90 {
  margin-top: 5.625rem;
}
.margin-xxl--top-80 {
  margin-top: 5rem;
}
.margin-xxl--top-70 {
  margin-top: 4.375rem;
}
.margin-xxl--top-65 {
  margin-top: 4.0625rem;
}
.margin-xxl--top-58 {
  margin-top: 3.625rem;
}
.margin-xxl--top-56 {
  margin-top: 3.5rem;
}
.margin-xxl--top-51 {
  margin-top: 3.1875rem;
}
.margin-xxl--top-48 {
  margin-top: 3rem;
}
.margin-xxl--top-42 {
  margin-top: 2.625rem;
}
.margin-xxl--top-36 {
  margin-top: 2.6rem;
}
.margin-xxl--top-32 {
  margin-top: 2rem;
}
.margin-xxl--top-30 {
  margin-top: 1.875rem;
}
.margin-xxl--top-26 {
  margin-top: 1.625rem;
}
.margin-xxl--top-24 {
  margin-top: 1.5rem;
}
.margin-xxl--top-20 {
  margin-top: 1.25rem;
}
.margin-xxl--top-18 {
  margin-top: 1.125rem;
}
.margin-xxl--top-16 {
  margin-top: 1rem;
}
.margin-xxl--top-15 {
  margin-top: 0.9375rem;
}
.margin-xxl--top-13 {
  margin-top: 0.813rem;
}
.margin-xxl--top-12 {
  margin-top: 0.75rem;
}
.margin-xxl--top-10 {
  margin-top: 0.625rem;
}
.margin-xxl--top-9 {
  margin-top: 0.563rem;
}
.margin-xxl--top-8 {
  margin-top: 0.5rem;
}
.margin-xxl--top-7 {
  margin-top: 0.4375rem;
}
.margin-xxl--top-4 {
  margin-top: 0.25rem;
}
.margin-xxl--top-3 {
  margin-top: 0.1875rem;
}
.margin-xxl--bottom-auto {
  margin-bottom: auto;
}
.margin-xxl--bottom-160 {
  margin-bottom: 10rem;
}
.margin-xxl--bottom-90 {
  margin-bottom: 5.625rem;
}
.margin-xxl--bottom-78 {
  margin-bottom: 4.875rem;
}
.margin-xxl--bottom-70 {
  margin-bottom: 4.375rem;
}
.margin-xxl--bottom-65 {
  margin-bottom: 4.0625rem;
}
.margin-xxl--bottom-58 {
  margin-bottom: 3.625rem;
}
.margin-xxl--bottom-51 {
  margin-bottom: 3.1875rem;
}
.margin-xxl--bottom-48 {
  margin-bottom: 3rem;
}
.margin-xxl--bottom-42 {
  margin-bottom: 2.625rem;
}
.margin-xxl--bottom-36 {
  margin-bottom: 2.6rem;
}
.margin-xxl--bottom-35 {
  margin-bottom: 2.188rem;
}
.margin-xxl--bottom-32 {
  margin-bottom: 2rem;
}
.margin-xxl--bottom-30 {
  margin-bottom: 1.875rem;
}
.margin-xxl--bottom-28 {
  margin-bottom: 1.75rem;
}
.margin-xxl--bottom-24 {
  margin-bottom: 1.5rem;
}
.margin-xxl--bottom-20 {
  margin-bottom: 1.25rem;
}
.margin-xxl--bottom-16 {
  margin-bottom: 1rem;
}
.margin-xxl--bottom-15 {
  margin-bottom: 0.9375rem;
}
.margin-xxl--bottom-12 {
  margin-bottom: 0.75rem;
}
.margin-xxl--bottom-10 {
  margin-bottom: 0.625rem;
}
.margin-xxl--bottom-8 {
  margin-bottom: 0.5rem;
}
.margin-xxl--bottom-7 {
  margin-bottom: 0.4375rem;
}
.margin-xxl--bottom-5 {
  margin-bottom: 0.313rem;
}
.margin-xxl--bottom-4 {
  margin-bottom: 0.25rem;
}
.margin-xxl--bottom-3 {
  margin-bottom: 0.1875rem;
}
.margin-xxl--bottom-2 {
  margin-bottom: 0.125rem;
}
.margin-xxl--left-auto {
  margin-left: auto;
}
.margin-xxl--left-136 {
  margin-left: 8.5rem;
}
.margin-xxl--left-90 {
  margin-left: 5.625rem;
}
.margin-xxl--left-70 {
  margin-left: 4.375rem;
}
.margin-xxl--left-52 {
  margin-left: 3.25rem;
}
.margin-xxl--left-48 {
  margin-left: 3rem;
}
.margin-xxl--left-47 {
  margin-left: 2.938rem;
}
.margin-xxl--left-40 {
  margin-left: 2.5rem;
}
.margin-xxl--left-32 {
  margin-left: 2rem;
}
.margin-xxl--left-30 {
  margin-left: 1.875rem;
}
.margin-xxl--left-29 {
  margin-left: 1.813rem;
}
.margin-xxl--left-24 {
  margin-left: 1.5rem;
}
.margin-xxl--left-20 {
  margin-left: 1.25rem;
}
.margin-xxl--left-18 {
  margin-left: 1.125rem;
}
.margin-xxl--left-16 {
  margin-left: 1rem;
}
.margin-xxl--left-14 {
  margin-left: 0.875rem;
}
.margin-xxl--left-12 {
  margin-left: 0.75rem;
}
.margin-xxl--left-10 {
  margin-left: 0.625rem;
}
.margin-xxl--left-8 {
  margin-left: 0.5rem;
}
.margin-xxl--left-5 {
  margin-left: 0.313rem;
}
.margin-xxl--left-none {
  margin-left: 0;
}
.margin-xxl--right-auto {
  margin-right: auto;
}
.margin-xxl--right-90 {
  margin-right: 5.625rem;
}
.margin-xxl--right-70 {
  margin-right: 4.375rem;
}
.margin-xxl--right-60 {
  margin-right: 3.75rem;
}
.margin-xxl--right-52 {
  margin-right: 3.25rem;
}
.margin-xxl--right-48 {
  margin-right: 3rem;
}
.margin-xxl--right-47 {
  margin-right: 2.938rem;
}
.margin-xxl--right-40 {
  margin-right: 2.5rem;
}
.margin-xxl--right-37 {
  margin-right: 2.313rem;
}
.margin-xxl--right-32 {
  margin-right: 2rem;
}
.margin-xxl--right-30 {
  margin-right: 1.875rem;
}
.margin-xxl--right-29 {
  margin-right: 1.813rem;
}
.margin-xxl--right-24 {
  margin-right: 1.5rem;
}
.margin-xxl--right-20 {
  margin-right: 1.25rem;
}
.margin-xxl--right-18 {
  margin-right: 1.125rem;
}
.margin-xxl--right-16 {
  margin-right: 1rem;
}
.margin-xxl--right-15 {
  margin-right: 0.938rem;
}
.margin-xxl--right-12 {
  margin-right: 0.75rem;
}
.margin-xxl--right-10 {
  margin-right: 0.625rem;
}
.margin-xxl--right-8 {
  margin-right: 0.5rem;
}
.margin-xxl--right-5 {
  margin-right: 0.313rem;
}
.margin-xxl--right-4 {
  margin-right: 0.25rem;
}
.padding-xxl-42 {
  padding: 2.625rem;
}
.padding-xxl-30 {
  padding: 1.875rem;
}
.padding-xxl-24 {
  padding: 1.5rem;
}
.padding-xxl-10 {
  padding: 0.625rem;
}
.padding-xxl--top-200 {
  padding-top: 12.5rem;
}
.padding-xxl--top-180 {
  padding-top: 11.25rem;
}
.padding-xxl--top-100 {
  padding-top: 6.25rem;
}
.padding-xxl--top-90 {
  padding-top: 5.625rem;
}
.padding-xxl--top-60 {
  padding-top: 3.75rem;
}
.padding-xxl--top-48 {
  padding-top: 3rem;
}
.padding-xxl--top-42 {
  padding-top: 2.625rem;
}
.padding-xxl--top-37 {
  padding-top: 2.313rem;
}
.padding-xxl--top-32 {
  padding-top: 2rem;
}
.padding-xxl--top-30 {
  padding-top: 1.875rem;
}
.padding-xxl--top-24 {
  padding-top: 1.5rem;
}
.padding-xxl--top-22 {
  padding-top: 1.375rem;
}
.padding-xxl--top-20 {
  padding-top: 1.25rem;
}
.padding-xxl--top-16 {
  padding-top: 1rem;
}
.padding-xxl--top-12 {
  padding-top: 0.75rem;
}
.padding-xxl--top-10 {
  padding-top: 0.625rem;
}
.padding-xxl--top-8 {
  padding-top: 0.5rem;
}
.padding-xxl--top-6 {
  padding-top: 0.375rem;
}
.padding-xxl--top-5 {
  padding-top: 0.313rem;
}
.padding-xxl--top-4 {
  padding-top: 0.25rem;
}
.padding-xxl--top-2_5-per {
  padding-top: 2.5%;
}
.padding-xxl--bottom-200 {
  padding-bottom: 12.5rem;
}
.padding-xxl--bottom-100 {
  padding-bottom: 6.25rem;
}
.padding-xxl--bottom-90 {
  padding-bottom: 5.625rem;
}
.padding-xxl--bottom-92 {
  padding-bottom: 5.785rem;
}
.padding-xxl--bottom-48 {
  padding-bottom: 3rem;
}
.padding-xxl--bottom-42 {
  padding-bottom: 2.625rem;
}
.padding-xxl--bottom-40 {
  padding-bottom: 2.5rem;
}
.padding-xxl--bottom-36 {
  padding-bottom: 2.25rem;
}
.padding-xxl--bottom-32 {
  padding-bottom: 2rem;
}
.padding-xxl--bottom-30 {
  padding-bottom: 1.875rem;
}
.padding-xxl--bottom-24 {
  padding-bottom: 1.5rem;
}
.padding-xxl--bottom-22 {
  padding-bottom: 1.375rem;
}
.padding-xxl--bottom-20 {
  padding-bottom: 1.25rem;
}
.padding-xxl--bottom-16 {
  padding-bottom: 1rem;
}
.padding-xxl--bottom-14 {
  padding-bottom: 0.875rem;
}
.padding-xxl--bottom-12 {
  padding-bottom: 0.75rem;
}
.padding-xxl--bottom-10 {
  padding-bottom: 0.625rem;
}
.padding-xxl--bottom-10-per {
  padding-bottom: 10%;
}
.padding-xxl--bottom-8 {
  padding-bottom: 0.5rem;
}
.padding-xxl--bottom-5 {
  padding-top: 0.313rem;
}
.padding-xxl--bottom-6 {
  padding-bottom: 0.375rem;
}
.padding-xxl--bottom-4 {
  padding-bottom: 0.25rem;
}
.padding-xxl--left-200 {
  padding-left: 12.5rem;
}
.padding-xxl--left-180 {
  padding-left: 11.25rem;
}
.padding-xxl--left-116 {
  padding-left: 7.25rem;
}
.padding-xxl--left-90 {
  padding-left: 5.625rem;
}
.padding-xxl--left-72 {
  padding-left: 4.5rem;
}
.padding-xxl--left-60 {
  padding-left: 3.75rem;
}
.padding-xxl--left-47 {
  padding-left: 2.938rem;
}
.padding-xxl--left-40 {
  padding-left: 2.5rem;
}
.padding-xxl--left-36 {
  padding-left: 2.25rem;
}
.padding-xxl--left-32 {
  padding-left: 2rem;
}
.padding-xxl--left-30 {
  padding-left: 1.875rem;
}
.padding-xxl--left-25 {
  padding-left: 1.563rem;
}
.padding-xxl--left-24 {
  padding-left: 1.5rem;
}
.padding-xxl--left-20 {
  padding-left: 1.25rem;
}
.padding-xxl--left-18 {
  padding-left: 1.125rem;
}
.padding-xxl--left-17 {
  padding-left: 1.063rem;
}
.padding-xxl--left-16 {
  padding-left: 1rem;
}
.padding-xxl--left-15 {
  padding-left: 0.938rem;
}
.padding-xxl--left-12 {
  padding-left: 0.75rem;
}
.padding-xxl--left-10 {
  padding-left: 0.625rem;
}
.padding-xxl--left-8 {
  padding-left: 0.5rem;
}
.padding-xxl--left-5 {
  padding-left: 0.3125rem;
}
.padding-xxl--left-4 {
  padding-left: 0.25rem;
}
.padding-xxl--left-1 {
  padding-left: 1px;
}
.padding-xxl--right-200 {
  padding-right: 12.5rem;
}
.padding-xxl--right-180 {
  padding-right: 11.25rem;
}
.padding-xxl--right-128 {
  padding-right: 8rem;
}
.padding-xxl--right-116 {
  padding-right: 7.25rem;
}
.padding-xxl--right-90 {
  padding-right: 5.625rem;
}
.padding-xxl--right-72 {
  padding-right: 4.5rem;
}
.padding-xxl--right-60 {
  padding-right: 3.75rem;
}
.padding-xxl--right-47 {
  padding-right: 2.938rem;
}
.padding-xxl--right-40 {
  padding-right: 2.5rem;
}
.padding-xxl--right-36 {
  padding-right: 2.25rem;
}
.padding-xxl--right-32 {
  padding-right: 2rem;
}
.padding-xxl--right-30 {
  padding-right: 1.875rem;
}
.padding-xxl--right-24 {
  padding-right: 1.5rem;
}
.padding-xxl--right-20 {
  padding-right: 1.25rem;
}
.padding-xxl--right-18 {
  padding-right: 1.125rem;
}
.padding-xxl--right-16 {
  padding-right: 1rem;
}
.padding-xxl--right-15 {
  padding-right: 0.938rem;
}
.padding-xxl--right-12 {
  padding-right: 0.75rem;
}
.padding-xxl--right-10 {
  padding-right: 0.625rem;
}
.padding-xxl--right-8 {
  padding-right: 0.5rem;
}
.padding-xxl--right-5 {
  padding-right: 0.3125rem;
}
.padding-xxl--right-4 {
  padding-right: 0.25rem;
}
.width-100-per {
  width: 100%;
}
@media screen and (max-width: 1366px) {
  .margin-l--top-35 {
    margin-top: 2.188rem;
  }
  .margin-l--top-18 {
    margin-top: 1.125rem;
  }
  .margin-l--bottom-18 {
    margin-bottom: 1.125rem;
  }
  .margin-l--left-32 {
    margin-left: 2rem;
  }
  .margin-l--right-32 {
    margin-right: 2rem;
  }
  .margin-l--right-12 {
    margin-right: 0.8rem;
  }
  .padding-l--left-60 {
    padding-left: 3.75rem;
  }
  .padding-l--right-60 {
    padding-right: 3.75rem;
  }
}
@media only screen and (max-width: 1024px) {
  .margin--1024-top-30 {
    margin-top: 1.875rem;
  }
  .margin--1024-top-none {
    margin-top: 0;
  }
  .margin--1024-bottom-10 {
    margin-bottom: 0.625rem;
  }
  .margin--1024-left-none {
    margin-left: 0;
  }
}
@media only screen and (max-width: 960px) {
  .margin-m--top-54 {
    margin-top: 3.375rem;
  }
  .margin-m--top-auto {
    margin-top: auto !important;
  }
  .margin-m--bottom-54 {
    margin-bottom: 3.375rem;
  }
  .margin-m--bottom-30 {
    margin-bottom: 2.275rem;
  }
  .margin-m--bottom-24 {
    margin-bottom: 1.5rem;
  }
  .margin-m--right-32 {
    margin-right: 2rem;
  }
  .margin-m--right-28 {
    margin-right: 1.75rem;
  }
  .margin-m--right-none {
    margin-right: 0;
  }
  .padding-m--top-100 {
    padding-top: 6.25rem;
  }
  .padding-m-bottom-50 {
    padding-bottom: 3.125rem;
  }
  .padding-m--left-70 {
    padding-left: 4.375rem;
  }
  .padding-m--left-none {
    padding-left: 0;
  }
  .padding-m--right-70 {
    padding-right: 4.375rem;
  }
}
@media only screen and (max-width: 640px) {
  .margin--s-top-18 {
    margin-top: 1.125rem;
  }
  .margin--s-top-4 {
    margin-top: 0.25rem;
  }
  .margin--s-top-none {
    margin-top: 0;
  }
  .margin--s-bottom-70 {
    margin-bottom: 4.375rem;
  }
  .margin--s-bottom-30 {
    margin-bottom: 1.875rem;
  }
  .margin--s-bottom-none {
    margin-bottom: 0;
  }
  .margin--s-right--36 {
    margin-right: -2.125rem;
  }
  .margin--s-right-36 {
    margin-right: 2.125rem;
  }
  .margin--s-right-none {
    margin-right: 0;
  }
  .margin--s-left-none {
    margin-left: 0;
  }
  .padding-s--top-60 {
    padding-top: 3.75rem;
  }
  .padding-s--left-60 {
    padding-left: 3.75rem;
  }
  .padding-s--bottom-60 {
    padding-bottom: 3.75rem;
  }
}
@media only screen and (max-width: 600px) {
  .margin--xs-right-none {
    margin-right: 0;
  }
  .margin--xs-left-none {
    margin-left: 0;
  }
}
@media only screen and (max-width: 540px) {
  .margin--540-right-none {
    margin-right: 0;
  }
}
@media only screen and (max-width: 480px) {
  .padding-xxs--top-44 {
    padding-top: 2.75rem;
  }
  .padding-xxs--bottom-44 {
    padding-bottom: 2.75rem;
  }
  .padding-xxs--left-52 {
    padding-left: 3.25rem;
  }
  .padding-xxs--bottom-52 {
    padding-bottom: 3.25rem;
  }
}
@media only screen and (max-width: 360px) {
  .margin--xxxs-left-none {
    margin-left: 0;
  }
}
